body{
    background-color: #fef7ea;
}

#navDiv {
    background-color: #fef7ea;
    /* position: -webkit-sticky; Safari */
    position: fixed;
    top: 50px;
    right: 0;
    display: none;
    z-index: 99;
    text-align: right;
}
#navButton{
    background-color: #bd4864;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    float: right;
}
#navList{
    list-style: none;
    font-size: 6vw;
    margin: 0;
    padding-top: 60px;
}

/* HELPER CLASSES */
.under{
    display:inline-block;
    margin: 7.5%;
    margin-top: 0px;
}
.center{
    text-align: center;
}
.half{
    width: 50%;
}

