body{
    background-color: #fef7ea;
}

#navDiv {
    background-color: #fef7ea;
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    text-align: center;
    line-height: 2;
}
#navButton{
    background-color: #bd4864;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 2vh;
    right: 2vh;
    float: right;
    z-index: 99;
}
#navList{
    list-style: none;
    font-size: 3vw;
    margin: 0;
    padding-top: 60px;
}


/* HELPER CLASSES */
.under{
    display:inline-block;
    margin: 7.5%;
    margin-top: 0px;
}
.center{
    text-align: center;
}
.half{
    width: 50%;
}

