
div#one {
    position: absolute;
    left: 20%;
    top: 55%;
    cursor: pointer;
}

div#two {
    position: absolute;
    left: 40%;
    top: 30%;
    cursor: pointer;
}
div#three {
    position: absolute;
    left: 62%;
    top: 30%;
    cursor: pointer;
}
div#four {
    position: absolute;
    left:60%;
    top: 45%;
    cursor: pointer;
}
div#five {
    position: absolute;
    left: 40%;
    top: 15%;
    cursor: pointer;
}

div#six {
    position: absolute;
    left: 40%;
    top: 50%;
    cursor: pointer;
}

div#seven {
    position: absolute;
    left: 5%;
    top: 40%;
    cursor: pointer;
}

div#eight {
    position: absolute;
    left: 5%;
    top: 65%;
    cursor: pointer;
}