
div#one{
    position: absolute;
    left: 90%;
    top: 40%;
    cursor: pointer;
}
div#two{
    position: absolute;
    left: 65%;
    top: 20%;
    cursor: pointer;
}
div#three{
    position: absolute;
    left: 79%;
    top: 60%;
    cursor: pointer;
}
div#four{
    position: absolute;
    left: 10%;
    top: 75%;
    cursor: pointer;
}
div#five{
    position: absolute;
    left: 15%;
    top: 20%;
    cursor: pointer;
}