div#one {
    position: absolute;
    top: 8%;
    left: 22.6%;
    cursor: pointer;
}

div#two {
    position: absolute;
    top: 22%;
    left: 13%;
    cursor: pointer;
}
div#three {
    position: absolute;
    top: 40%;
    left: 13%;
    cursor: pointer;
}
div#four {
    position: absolute;
    top: 40%;
    left: 22%;
    cursor: pointer;
}
div#five {
    position: absolute;
    top: 40%;
    left: 29%;
    cursor: pointer;
}

div#six {
    position: absolute;
    top: 64%;
    left: 13%;
    cursor: pointer;
}

div#seven {
    position: absolute;
    top: 67%;
    left: 22%;
    cursor: pointer;
}

div#eight {
    position: absolute;
    top: 64.75%;
    left: 29%;
    cursor: pointer;
}