
.clubcontainer{
    display: grid;
    grid-template-columns: 10% 30% 50% 10%;
    width: 100%;
    grid-row-gap: 25px;
}
.a{
    grid-column: 2/ span 1;
    text-align: center;
}

.b{
    grid-column: 3/ span 1;
    padding-left: 4%;
}
.clubpic{
    width: 70%;
    border-radius: 50%;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .clubcontainer{
        display: grid;
        grid-template-columns: 10% 80% 10%;
        width: 100%;
        grid-row-gap: 10px;
    }
    .a{
        grid-column: 2/ span 1;
        text-align: center;
    }

    .b{
        grid-column: 2/ span 1;
        padding-left: 4%;
        margin-bottom: 20px;
        text-align: center;
    }
    .clubpic{
        width: 60%;
        
    }
}