@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    background-color: #fef7ea;
}

h1{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 4vh;
    color: #3E9228;
}
h2{
    font-family: 'Montserrat';
    font-size: 3vh;
}
h3{
    font-family: 'Montserrat';
    font-size: 3vh;
    color: #3E9228;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
}
a{
    font-family: 'Roboto', sans-serif;
    font-size: 2vh; 
    color: #bd4864; 
}
@media only screen and (max-width: 768px){
    h1{ font-size: 3vh; }
    h2{ font-size: 2vh; }
    h3{ font-size: 2vh; }
    p{ font-size: 1.5vh; }
    a{ font-size: 1.5vh; }
}

.centertxt{
    /* float:left; */
    width:100%;
    text-align:center;
    /* padding-left:8vh;
    padding-right:8vh; */
    display: inline-block;
}
.left{
    display: inline-block;
}

/* LOGO */
#logo{
    height: 10vh;
    float: left;
    margin-left: 2vh;
    margin-top: 2vh;
}
@media only screen and (max-width: 768px){
    #logo{height: 8vh;}
}

/* NAVIGATION CSS */
#navDiv {
    background-color: #fef7ea;
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    text-align: center;
    line-height: 2;
    z-index: 99;
}
#navButton{
    background-color: #bd4864;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 2vh;
    right: 2vh;
    float: right;
    z-index: 100;
}
#navList{
    list-style: none;
    margin: 0;
    padding-top: 25vh;
    z-index: 99;
}
@media only screen and (max-width: 768px){
    #navList{padding-top: 15vh;}
}
#dropdown {
    position: relative;
    display: none;
}

ul li a{
    font-family: 'Montserrat';
    color: black;
    font-size: 3vh;
}
#greenNav{
    font-family: 'Montserrat';
    color: green;
    font-size: 3vh;
    cursor: pointer;
}
#greenNav:hover{
    color: #bd4864;
}
@media only screen and (max-width: 768px){
    #greenNav{font-size: 2vh;}
    ul li a{ font-size: 2vh;}
}
#topDiv{
    float:left;
    width:100%;
}

/* ROOM PAGES */
p.bubble{
    /* font-family: 'Montserrat';
    font-weight: bold; */
    font-size: 25px;
    border-radius:50%;
    border: 2px solid #082b08;
    background:white;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin: auto;
}
p.bubble:hover{
    background:#d1ea80;
}
div.room{
    position: relative;
    width:100%;
    margin: 0px;
    float: left;
}
.modals{
    display: none;
    position: fixed;
    z-index: 1;
    left:0;
    top:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4); 
}
.popup{
    position: absolute;
    top: 15%;
    left: 15%;
    width: 75%;
    padding: 2%;
    background-color: white;
    border-radius: 25px;
}
#close{
    color: #aaaaaa;
    float: right;
    font-weight: bold;
    font-size: 5vw;
}
#close:hover, .close:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* MOBILE CSS */
.mobilecontentleft{
    display:none;
}
.mobilecontentright{
    display:none;
}

@media only screen and (max-width: 768px){
    div#one{
        visibility:hidden;
    }
    div#two{
        visibility:hidden;
    }
    div#three{
        visibility:hidden;
    }
    div#four{
        visibility:hidden;
    }
    div#five{
        visibility:hidden;
    }
    div#six{
        visibility:hidden;
    }
    div#seven{
        visibility:hidden;
    }
    div#eight{
        visibility:hidden;
    }

    div#oneB{
        visibility:hidden;
    }
    div#twoB{
        visibility:hidden;
    }
    div#threeB{
        visibility:hidden;
    }
    div#fourB{
        visibility:hidden;
    }
    div#fiveB{
        visibility:hidden;
    } 
    
    .mobilecontentleft{
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 2%;
        text-align:right;
    }
    .mobilecontentright{
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 2%;
        
    }
    .mobileimg{
        width:90%;
        margin: auto;
    }
    
}

