@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    background-color: #fef7ea;
}
h1{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 6vh;
    color: #3E9228;
}
h2{
    font-family: 'Montserrat';
    font-size: 5vh;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;
}
@media only screen and (max-width: 768px){
    h1{
        font-size: 4vh;
    }
    h2{
        font-size: 3vh;
    }
    p{
        font-size: 2vh;
    }
}

.centertxt{
    float:left;
    width:100%;
    text-align:center;
    padding-left:8vh;
    padding-right:8vh;
}

/* LOGO */
#logo{
    width: 15%;
    float: left;
    margin-left: 2vh;
    margin-top: 2vh;
}
@media only screen and (max-width: 768px){
    #logo{
        width: 30%;
    }
}

/* NAVIGATION CSS */
#navDiv {
    background-color: #fef7ea;
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    text-align: center;
    line-height: 2;
    z-index: 99;
}
#navButton{
    background-color: #bd4864;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 2vh;
    right: 2vh;
    float: right;
    z-index: 100;
}
#navList{
    list-style: none;
    font-size: 2vw;
    margin: 0;
    padding-top: 60px;
    z-index: 99;
}
#dropdown {
    position: relative;
    display: none;
}
ul li a{
    font-family: 'Montserrat';
    color: black;
    font-size: 3vh;
}
#greenNav{
    font-family: 'Montserrat';
    color: green;
    font-size: 3vh;
}
/* END NAV CSS */
