div#one{
    position: absolute;
    left: 43%;
    top: 60%;
    cursor: pointer;
    visibility: visible;
}
div#two{
    position: absolute;
    left: 55%;
    top: 40%;
    cursor: pointer;
    visibility: visible;
}
div#three{
    position: absolute;
    left: 83%;
    top: 45%;
    cursor: pointer;
    visibility: visible;
}
div#four{
    position: absolute;
    left: 7%;
    top: 54%;
    cursor: pointer;
    visibility: visible;
}
div#five{
    position: absolute;
    left: 7.5%;
    top: 26%;
    cursor: pointer;
    visibility: visible;
}

div#oneB{
    position: absolute;
    left: 55.5%;
    top: 80%;
    cursor: pointer;
    visibility: hidden;
}
div#twoB{
    position: absolute;
    left: 56.5%;
    top: 50%;
    cursor: pointer;
    visibility: hidden;
}
div#threeB{
    position: absolute;
    left: 78%;
    top: 62%;
    cursor: pointer;
    visibility: hidden;
}
div#fourB{
    position: absolute;
    left: 34.5%;
    top: 17%;
    cursor: pointer;
    visibility: hidden;
}
div#fiveB{
    position: absolute;
    left: 89.5%;
    top: 70%;
    cursor: pointer;
    visibility: hidden;
}

#switch{
    visibility: visible;
    position: absolute;
    bottom: 5%;
    left: 45%;
    padding: 1vw;
    width: 10vw;
    height: 3vw;
    font-size: 1em;
    margin: 0 auto;
    border-radius: 30px;
    background-color: #bd4864;
    color: #fef7ea;
    border: none;
}

@media only screen and (max-width: 768px){
    #switch{
        visibility: hidden;
    }
    #one, #two, #three, #four, #five, #oneB, #twoB, #threeB, #fourB, #fiveB{
        visibility: hidden !important;
    }
    #bkgrdPic{
        content:url("imgs/plants/plants1.png");
    }  
}