
div#one{
    position: absolute;
    left: 52%;
    top: 30%;
    cursor: pointer;
}
div#two{
    position: absolute;
    left: 20%;
    top: 45%;
    cursor: pointer;
}
div#three{
    position: absolute;
    left: 38%;
    top: 83%;
    cursor: pointer;
}
div#four{
    position: absolute;
    left: 20%;
    top: 75%;
    cursor: pointer;
}
div#five{
    position: absolute;
    left: 48%;
    top: 65%;
    cursor: pointer;
}
