.profilePic{
    width: 20vw;
    height: 20vw; 
}
#socialBox{
    width: 70%;
    margin: auto;
    height: 700px;
}
input {
    background-color: white;
}
textarea{
    background-color: white;
}